# Importing Data

* Local File
    * Plain Text, CSV, tsv
* Database
    * Sqlite, MongoDB
* Remote File
    * HTML, Json, CSV
* Excel File, Matlab (.m)
* Web api - Facebook/Google

## Reading TXT Files

In [3]:
import pandas as pd
import numpy as np
from scipy.io import loadmat
import sqlite3
import requests
from bs4 import BeautifulSoup

In [1]:
file = open('news.txt', 'r') # without context manager

In [2]:
file.read()

'Why Infrastructure Is So Expensive \nA subway-style diagram of the major Roman roads\nBaby Bird from Time of Dinosaurs Found Fossilized\nMIT Gets $140M Pledge from Anonymous Donor (wsj.com)\nHow hackers abused satellites to stay under the radar (2015)\nFiduciary Rule Fight Brews While Bad Financial Advisers\nIn 1957, Five Men Agreed to Stand Under an Exploding Nuclear Bomb\n'

In [3]:
file.closed

False

In [4]:
file.close()

In [5]:
file.closed

True

In [9]:
with open('news.txt', 'r') as file1: # with context manager (dont need to explicity close file)
    print(file1.readline())
    print(file1.readline())

Why Infrastructure Is So Expensive

A subway-style diagram of the major Roman roads

## Reading CSV Files

In [1]:
 # import with numpy and import with pandas

In [5]:
mnist_data = np.loadtxt('mnist.csv', dtype=float, comments='#', delimiter=',')

In [6]:
mnist_data

array([[5., 0., 0., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [3., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [12]:
titanic_data = np.genfromtxt('titanic.csv', delimiter=',', dtype=None, encoding='utf-8', skip_header=1)

In [13]:
titanic_data

array([( 1, '1st', 'Male', 'Child', 'No', '0'),
       ( 2, '2nd', 'Male', 'Child', 'No', '0'),
       ( 3, '3rd', 'Male', 'Child', 'No', '35'),
       ( 4, 'Crew', 'Male', 'Child', 'No', '0'),
       ( 5, '1st', 'Female', 'Child', 'No', '0'),
       ( 6, '2nd', 'Female', 'Child', 'No', '0␊'),
       ( 7, '3rd', 'Female', 'Child', 'No', '17'),
       ( 8, 'Crew', 'Female', 'Child', 'No', '0'),
       ( 9, '1st', 'Male', 'Adult', 'No', '118'),
       (10, '2nd', 'Male', 'Adult', 'No', '154'),
       (11, '3rd', 'Male', 'Adult', 'No', '387'),
       (12, 'Crew', 'Male', 'Adult', 'No', '670'),
       (13, '1st', 'Female', 'Adult', 'No', '4'),
       (14, '2nd', 'Female', 'Adult', 'No', '13'),
       (15, '3rd', 'Female', 'Adult', 'No', '89'),
       (16, 'Crew', 'Female', 'Adult', 'No', '3'),
       (17, '1st', 'Male', 'Child', 'Yes', '5'),
       (18, '2nd', 'Male', 'Child', 'Yes', '11'),
       (19, '3rd', 'Male', 'Child', 'Yes', '13'),
       (20, 'Crew', 'Male', 'Child', 'Yes', '0'),
       (21, '1st', 'Female', 'Child', 'Yes', '1'),
       (22, '2nd', 'Female', 'Child', 'Yes', '13'),
       (23, '3rd', 'Female', 'Child', 'Yes', '14'),
       (24, 'Crew', 'Female', 'Child', 'Yes', '0'),
       (25, '1st', 'Male', 'Adult', 'Yes', '57'),
       (26, '2nd', 'Male', 'Adult', 'Yes', '14'),
       (27, '3rd', 'Male', 'Adult', 'Yes', '75'),
       (28, 'Crew', 'Male', 'Adult', 'Yes', '192'),
       (29, '1st', 'Female', 'Adult', 'Yes', '140'),
       (30, '2nd', 'Female', 'Adult', 'Yes', '80')],
      dtype=[('f0', '<i4'), ('f1', '<U4'), ('f2', '<U6'), ('f3', '<U5'), ('f4', '<U3'), ('f5', '<U3')])

In [14]:
titanic_pandas = pd.read_csv('titanic.csv', sep=',')

In [15]:
titanic_pandas

    No Class     Sex    Age Survived Freq
0    1   1st    Male  Child       No    0
1    2   2nd    Male  Child       No    0
2    3   3rd    Male  Child       No   35
3    4  Crew    Male  Child       No    0
4    5   1st  Female  Child       No    0
5    6   2nd  Female  Child       No   0␊
6    7   3rd  Female  Child       No   17
7    8  Crew  Female  Child       No    0
8    9   1st    Male  Adult       No  118
9   10   2nd    Male  Adult       No  154
10  11   3rd    Male  Adult       No  387
11  12  Crew    Male  Adult       No  670
12  13   1st  Female  Adult       No    4
13  14   2nd  Female  Adult       No   13
14  15   3rd  Female  Adult       No   89
15  16  Crew  Female  Adult       No    3
16  17   1st    Male  Child      Yes    5
17  18   2nd    Male  Child      Yes   11
18  19   3rd    Male  Child      Yes   13
19  20  Crew    Male  Child      Yes    0
20  21   1st  Female  Child      Yes    1
21  22   2nd  Female  Child      Yes   13
22  23   3rd  Female  Child      Yes   14
23  24  Crew  Female  Child      Yes    0
24  25   1st    Male  Adult      Yes   57
25  26   2nd    Male  Adult      Yes   14
26  27   3rd    Male  Adult      Yes   75
27  28  Crew    Male  Adult      Yes  192
28  29   1st  Female  Adult      Yes  140
29  30   2nd  Female  Adult      Yes   80

### Excel and Matlab Files

In [12]:
file = pd.ExcelFile('ExcelTest.xlsx')

In [13]:
file.sheet_names

['s1', 's2']

In [17]:
df1 = file.parse('s1') # creates a pandas dataframe from spreadsheet

In [18]:
df2 = file.parse('s2')

In [19]:
df1

,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
1,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.8100,208.16,68.02,Nunavut,Appliances,0.58
2,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.7075,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,R380,Clay Rozendal,483,1198.9710,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,Holmes HEPA Air Purifier,Carlos Soltero,515,30.9400,21.78,5.94,Nunavut,Appliances,0.50
5,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Carlos Soltero,515,4.4300,6.64,4.95,Nunavut,Office Furnishings,0.37
6,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,-54.0385,7.30,7.72,Nunavut,Binders and Binder Accessories,0.38
7,"SAFCO Mobile Desk Side File, Wire Frame",Carl Jackson,613,127.7000,42.76,6.22,Nunavut,Storage & Organization,NaN
8,"SAFCO Commercial Wire Shelving, Black",Monica Federle,643,-695.2600,138.14,35.00,Nunavut,Storage & Organization,NaN
9,Xerox 198,Dorothy Badders,678,-226.3600,4.98,8.33,Nunavut,Paper,0.38

In [20]:
df2

,10,Xerox 1980,Neola Schneider,807,-166.85,4.28,6.18,Nunavut,Paper,0.4
0,1,Advantus Map Pennant Flags and Round Head Tacks,Neola Schneider,807,-14.330,3.95,2.00,Nunavut,Rubber Bands,0.53
1,1,Holmes HEPA Air Purifier,Carlos Daly,868,134.720,21.78,5.94,Nunavut,Appliances,0.50
2,1,"DS/HD IBM Formatted Diskettes, 200/Pack - Staples",Carlos Daly,868,114.460,47.98,3.61,Nunavut,Computer Peripherals,0.71
3,1,"Wilson Jones 1"" Hanging DublLock® Ring Binders",Claudia Miner,933,-4.715,5.28,2.99,Nunavut,Binders and Binder Accessories,0.37
4,1,Ultra Commercial Grade Dual Valve Door Closer,Neola Schneider,995,782.910,39.89,3.04,Nunavut,Office Furnishings,0.53
5,1,"#10-4 1/8"" x 9 1/2"" Premium Diagonal Seam Enve...",Allen Rosenblatt,998,93.800,15.74,1.39,Nunavut,Envelopes,0.40
6,1,Hon 4-Shelf Metal Bookcases,Sylvia Foulston,1154,440.720,100.98,26.22,Nunavut,Bookcases,0.60
7,1,"Lesro Sheffield Collection Coffee Table, End T...",Sylvia Foulston,1154,-481.041,71.37,69.00,Nunavut,Tables,0.68
8,1,g520,Jim Radford,1344,-11.682,65.99,5.26,Nunavut,Telephones and Communication,0.59

In [23]:
mat = loadmat('MatlabTest.mat')

In [24]:
mat

{'__header__': b'MATLAB 5.0 MAT-file Platform: posix, Created on: Sun Jun 18 12:46:39 2017',
 '__version__': '1.0',
 '__globals__': [],
 'data': array([[['a', '1'],
         ['b', '2']]], dtype='<U1')}

In [29]:
mat['data']

array([[['a', '1'],
        ['b', '2']]], dtype='<U1')

## SQLite Relational Database

In [8]:
con = sqlite3.connect('SqliteTestDb.db')

In [9]:
cur = con.cursor()

In [12]:
cur.execute('SELECT * FROM employees')

In [13]:
rows = cur.fetchall()

In [14]:
for row in rows:
    print(row)

(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com')
(2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com')
(3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')
(4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com')
(5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')
(6, 'Mitchell', 'Michael', 'IT Manager', 1, '1973-07-01 00:00:00', '2003-10-17 00:00:00', '5827 Bowness Road NW', 'Calgary', 'AB', 'Canada', 'T3B 0C5', '+1 (403) 246-9887', '+1 (403) 246-9899', 'michael@chinookcorp.com')
(7, 'King', 'Robert', 'IT Staff', 6, '1970-05-29 00:00:00', '2004-01-02 00:00:00', '590 Columbia Boulevard West', 'Lethbridge', 'AB', 'Canada', 'T1K 5N8', '+1 (403) 456-9986', '+1 (403) 456-8485', 'robert@chinookcorp.com')
(8, 'Callahan', 'Laura', 'IT Staff', 6, '1968-01-09 00:00:00', '2004-03-04 00:00:00', '923 7 ST NW', 'Lethbridge', 'AB', 'Canada', 'T1H 1Y8', '+1 (403) 467-3351', '+1 (403) 467-8772', 'laura@chinookcorp.com')

In [16]:
df = pd.read_sql_query('SELECT * FROM employees', con)

In [17]:
df

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

## Fetch Remote File

In [3]:
html_url = 'http://www.google.com'
csv_url = 'https://vincentarelbundock.github.io/Rdatasets/csv/datasets/Titanic.csv'
json_url = 'https://raw.githubusercontent.com/ankit25587/test/master/test.json'

In [4]:
res = requests.get(html_url)

In [5]:
html_data = res.text

In [6]:
html_data

'<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="en-IE"><head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/logos/doodles/2018/fathers-day-2018-5929703499104256-l.png" itemprop="image"><meta content="Happy Father\'s Day 2018!" property="twitter:title"><meta content="Happy Father\'s Day 2018! #GoogleDoodle" property="twitter:description"><meta content="Happy Father\'s Day 2018! #GoogleDoodle" property="og:description"><meta content="summary_large_image" property="twitter:card"><meta content="@GoogleDoodles" property="twitter:site"><meta content="https://www.google.com/logos/doodles/2018/fathers-day-2018-5929703499104256-2x.jpg" property="twitter:image"><meta content="https://www.google.com/logos/doodles/2018/fathers-day-2018-5929703499104256-2x.jpg" property="og:image"><meta content="1000" property="og:image:width"><meta content="400" property="og:image:height"><title>Google</title><script nonce="itBIgXRrw0b3nutDXMKAfQ==">(function(){window.google={kEI:\'MtMmW9yDK4vOgAap_rxY\',kEXPI:\'0,1301951,51796,57,1958,928,89,281,159,183,153,215,851,49,670,63,6,89,166,31,321,45,18,134,2339849,181,246,32,21,329273,1294,12383,2349,2506,32692,15247,867,316,453,7,804,7,4469,6107,6381,3335,2,2,4605,2196,366,551,554,2212,113,2201,3191,224,502,5,1705,136,130,1467,3640,444,131,1119,2,578,664,64,311,2121,58,2,4,1297,1338,376,1374,505,730,377,1239,480,608,686,8,537,1032,713,61,194,1038,973,45,281,2,1124,186,1480,35,428,330,878,393,132,22,42,96,42,103,5,311,5,2,2,151,506,441,297,515,388,126,2,65,3,935,5,391,29,272,32,865,2138,172,82,640,2,702,38,166,537,124,14,43,22,149,26,334,123,7,483,373,220,163,11,94,386,8,1084,7,3,25,28,1728,61,189,4,4,4,4,69,10,267,18,121,52,406,2330080,3685997,2545,9,5997613,2800173,194,1382,549,332,445,1,2,1,1,77,1,1,900,207,1,1,1,1,1,369,11,304,1,8,1,2,1,1,1105,1,19,2,4,12,23,2,270,13,9,1,1,18,15,69,3,22310369\',authuser:0,kscs:\'c9c918f0_MtMmW9yDK4vOgAap_rxY\',kGL:\'IE\'};google.kHL=\'en-IE\';})();google.time=function(){return(new Date).getTime()};(function(){google.lc=[];google.li=0;google.getEI=function(a){for(var b;a&&(!a.getAttribute||!(b=a.getAttribute("eid")));)a=a.parentNode;return b||google.kEI};google.getLEI=function(a){for(var b=null;a&&(!a.getAttribute||!(b=a.getAttribute("leid")));)a=a.parentNode;return b};google.https=function(){return"https:"==window.location.protocol};google.ml=function(){return null};google.wl=function(a,b){try{google.ml(Error(a),!1,b)}catch(d){}};google.log=function(a,b,d,c,g){if(a=google.logUrl(a,b,d,c,g)){b=new Image;var e=google.lc,f=google.li;e[f]=b;b.onerror=b.onload=b.onabort=function(){delete e[f]};google.vel&&google.vel.lu&&google.vel.lu(a);b.src=a;google.li=f+1}};google.logUrl=function(a,b,d,c,g){var e="",f=google.ls||"";d||-1!=b.search("&ei=")||(e="&ei="+google.getEI(c),-1==b.search("&lei=")&&(c=google.getLEI(c))&&(e+="&lei="+c));c="";!d&&google.cshid&&-1==b.search("&cshid=")&&(c="&cshid="+google.cshid);a=d||"/"+(g||"gen_204")+"?atyp=i&ct="+a+"&cad="+b+e+f+"&zx="+google.time()+c;/^http:/i.test(a)&&google.https()&&(google.ml(Error("a"),!1,{src:a,glmm:1}),a="");return a};}).call(this);(function(){google.y={};google.x=function(a,b){if(a)var c=a.id;else{do c=Math.random();while(google.y[c])}google.y[c]=[a,b];return!1};google.lm=[];google.plm=function(a){google.lm.push.apply(google.lm,a)};google.lq=[];google.load=function(a,b,c){google.lq.push([[a],b,c])};google.loadAll=function(a,b){google.lq.push([a,b])};}).call(this);google.f={};var a=window.location,b=a.href.indexOf("#");if(0<=b){var c=a.href.substring(b+1);/(^|&)q=/.test(c)&&-1==c.indexOf("#")&&a.replace("/search?"+c.replace(/(^|&)fp=[^&]*/g,"")+"&cad=h")};</script><style>#gbar,#guser{font-size:13px;padding-top:1px !important;}#gbar{height:22px}#guser{padding-bottom:7px !important;text-align:right}.gbh,.gbd{border-top:1px solid #c9d7f1;font-size:1px}.gbh{height:0;position:absolute;top:24px;width:100%}@media all{.gb1{height:22px;margin-right:.5em;vertical-align:top}#gbar{float:left}}a.gb1,a.gb4{text-decoration:underline !important}a.gb1,a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf .gb4{color:#900 !important}\n</style><style>body,td,a,p,.h{font-family:arial,sans-serif}body{margin:0;overflow-y:scroll}#gog{padding:3px 8px 0}td{line-height:.8em}.gac_m td{line-height:17px}form{margin-bottom:20px}.h{color:#36c}.q{color:#00c}.ts td{padding:0}.ts{border-collapse:collapse}em{font-weight:bold;font-style:normal}.lst{height:25px;width:496px}.gsfi,.lst{font:18px arial,sans-serif}.gsfs{font:17px arial,sans-serif}.ds{display:inline-box;display:inline-block;margin:3px 0 4px;margin-left:4px}input{font-family:inherit}a.gb1,a.gb2,a.gb3,a.gb4{color:#11c !important}body{background:#fff;color:black}a{color:#11c;text-decoration:none}a:hover,a:active{text-decoration:underline}.fl a{color:#36c}a:visited{color:#551a8b}a.gb1,a.gb4{text-decoration:underline}a.gb3:hover{text-decoration:none}#ghead a.gb2:hover{color:#fff !important}.sblc{padding-top:5px}.sblc a{display:block;margin:2px 0;margin-left:13px;font-size:11px}.lsbb{background:#eee;border:solid 1px;border-color:#ccc #999 #999 #ccc;height:30px}.lsbb{display:block}.ftl,#fll a{display:inline-block;margin:0 12px}.lsb{background:url(/images/nav_logo229.png) 0 -261px repeat-x;border:none;color:#000;cursor:pointer;height:30px;margin:0;outline:0;font:15px arial,sans-serif;vertical-align:top}.lsb:active{background:#ccc}.lst:focus{outline:none}</style><script nonce="itBIgXRrw0b3nutDXMKAfQ=="></script><link href="/images/branding/product/ico/googleg_lodp.ico" rel="shortcut icon"></head><body bgcolor="#fff"><script nonce="itBIgXRrw0b3nutDXMKAfQ==">(function(){var src=\'/images/nav_logo229.png\';var iesg=false;document.body.onload = function(){window.n && window.n();if (document.images){new Image().src=src;}\nif (!iesg){document.f&&document.f.q.focus();document.gbqf&&document.gbqf.q.focus();}\n}\n})();</script><div id="mngb"> <div id=gbar><nobr><b class=gb1>Search</b> <a class=gb1 href="http://www.google.ie/imghp?hl=en&tab=wi">Images</a> <a class=gb1 href="http://maps.google.ie/maps?hl=en&tab=wl">Maps</a> <a class=gb1 href="https://play.google.com/?hl=en&tab=w8">Play</a> <a class=gb1 href="http://www.youtube.com/?gl=IE&tab=w1">YouTube</a> <a class=gb1 href="http://news.google.ie/nwshp?hl=en&tab=wn">News</a> <a class=gb1 href="https://mail.google.com/mail/?tab=wm">Gmail</a> <a class=gb1 href="https://drive.google.com/?tab=wo">Drive</a> <a class=gb1 style="text-decoration:none" href="https://www.google.ie/intl/en/options/"><u>More</u> &raquo;</a></nobr></div><div id=guser width=100%><nobr><span id=gbn class=gbi></span><span id=gbf class=gbf></span><span id=gbe></span><a href="http://www.google.ie/history/optout?hl=en" class=gb4>Web History</a> | <a  href="/preferences?hl=en" class=gb4>Settings</a> | <a target=_top id=gb_70 href="https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=http://www.google.com/" class=gb4>Sign in</a></nobr></div><div class=gbh style=left:0></div><div class=gbh style=right:0></div> </div><center><br clear="all" id="lgpd"><div id="lga"><a href="/search?site=&amp;ie=UTF-8&amp;q=Father%27s+Day&amp;oi=ddle&amp;ct=fathers-day-2018-5929703499104256-l&amp;hl=en-GB&amp;kgmid=/m/0cjkt&amp;sa=X&amp;ved=0ahUKEwjc5IHh0tvbAhULJ8AKHSk_DwsQPQgD"><img alt="Happy Father\'s Day 2018!" border="0" height="200" src="/logos/doodles/2018/fathers-day-2018-5929703499104256-l.png" title="Happy Father\'s Day 2018!" width="500" id="hplogo" onload="window.lol&&lol()"><br></a><br></div><form action="/search" name="f"><table cellpadding="0" cellspacing="0"><tr valign="top"><td width="25%">&nbsp;</td><td align="center" nowrap=""><input name="ie" value="ISO-8859-1" type="hidden"><input value="en-IE" name="hl" type="hidden"><input name="source" type="hidden" value="hp"><input name="biw" type="hidden"><input name="bih" type="hidden"><div class="ds" style="height:32px;margin:4px 0"><input style="color:#000;margin:0;padding:5px 8px 0 6px;vertical-align:top" autocomplete="off" class="lst" value="" title="Google Search" maxlength="2048" name="q" size="57"></div><br style="line-height:0"><span class="ds"><span class="lsbb"><input class="lsb" value="Google Search" name="btnG" type="submit"></span></span><span class="ds"><span class="lsbb"><input class="lsb" value="I\'m Feeling Lucky" name="btnI" onclick="if(this.form.q.value)this.checked=1; else top.location=\'/doodles/\'" type="submit"></span></span></td><td class="fl sblc" align="left" nowrap="" width="25%"><a href="/advanced_search?hl=en-IE&amp;authuser=0">Advanced search</a><a href="/language_tools?hl=en-IE&amp;authuser=0">Language tools</a></td></tr></table><input id="gbv" name="gbv" type="hidden" value="1"></form><div id="gac_scont"></div><div style="font-size:83%;min-height:3.5em"><br><div id="gws-output-pages-elements-homepage_additional_languages__als"><style>#gws-output-pages-elements-homepage_additional_languages__als{font-size:small;margin-bottom:24px}#SIvCob{display:inline-block;line-height:28px;}#SIvCob a{padding:0 3px;}.H6sW5{display:inline-block;margin:0 2px;white-space:nowrap}.z4hgWe{display:inline-block;margin:0 2px}</style><div id="SIvCob">Google offered in:  <a href="http://www.google.com/setprefs?sig=0_KTa2Jnxf4mEYYboK9ntmXM3PN2s%3D&amp;hl=ga&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwjc5IHh0tvbAhULJ8AKHSk_DwsQ2ZgBCAU">Gaeilge</a>  </div></div></div><span id="footer"><div style="font-size:10pt"><div style="margin:19px auto;text-align:center" id="fll"><a href="/intl/en/ads/">Advertising\xa0Programs</a><a href="http://www.google.ie/intl/en/services/">Business Solutions</a><a href="/intl/en/about.html">About Google</a><a href="http://www.google.com/setprefdomain?prefdom=IE&amp;prev=http://www.google.ie/&amp;sig=__8kkhsJpY7t1Ff7poMZzGqje7XAs%3D">Google.ie</a></div></div><p style="color:#767676;font-size:8pt">&copy; 2018 - <a href="/intl/en/policies/privacy/">Privacy</a> - <a href="/intl/en/policies/terms/">Terms</a></p></span></center><script nonce="itBIgXRrw0b3nutDXMKAfQ==">(function(){window.google.cdo={height:0,width:0};(function(){var a=window.innerWidth,b=window.innerHeight;if(!a||!b){var c=window.document,d="CSS1Compat"==c.compatMode?c.documentElement:c.body;a=d.clientWidth;b=d.clientHeight}a&&b&&(a!=google.cdo.width||b!=google.cdo.height)&&google.log("","","/client_204?&atyp=i&biw="+a+"&bih="+b+"&ei="+google.kEI);}).call(this);})();</script><div id="xjsd"></div><div id="xjsi"><script nonce="itBIgXRrw0b3nutDXMKAfQ==">(function(){function c(b){window.setTimeout(function(){var a=document.createElement("script");a.src=b;google.timers&&google.timers.load.t&&google.tick&&google.tick("load",{gen204:"xjsls",clearcut:31});document.getElementById("xjsd").appendChild(a)},0)}google.dljp=function(b,a){google.xjsu=b;c(a)};google.dlj=c;}).call(this);if(!google.xjs){window._=window._||{};window._DumpException=window._._DumpException=function(e){throw e};window._F_installCss=window._._F_installCss=function(c){};google.dljp(\'/xjs/_/js/k\\x3dxjs.hp.en.iU49abdPGbs.O/m\\x3dsb_he,d/am\\x3dVGFs/rt\\x3dj/d\\x3d1/rs\\x3dACT90oHsqA8JieaxblHXEAy0NSLrrm2ALw\',\'/xjs/_/js/k\\x3dxjs.hp.en.iU49abdPGbs.O/m\\x3dsb_he,d/am\\x3dVGFs/rt\\x3dj/d\\x3d1/rs\\x3dACT90oHsqA8JieaxblHXEAy0NSLrrm2ALw\');google.xjs=1;}google.pmc={"sb_he":{"agen":false,"cgen":false,"client":"heirloom-hp","dh":true,"dhqt":true,"ds":"","ffql":"en","fl":true,"host":"google.com","isbh":28,"jsonp":true,"lm":true,"msgs":{"cibl":"Clear Search","dym":"Did you mean:","lcky":"I\\u0026#39;m Feeling Lucky","lml":"Learn more","oskt":"Input tools","psrc":"This search was removed from your \\u003Ca href=\\"/history\\"\\u003EWeb History\\u003C/a\\u003E","psrl":"Remove","sbit":"Search by image","srch":"Google Search"},"nds":true,"ovr":{},"pq":"","refpd":true,"rfs":[],"sbpl":24,"sbpr":24,"scd":10,"sce":5,"stok":"h2jGrGLpaZHVdpKfQ6f2CJg4SF8"},"d":{},"ZI/YVQ":{},"Qnk92g":{},"U5B21g":{},"DPBNMg":{},"YFCs/g":{}};google.x(null,function(){});(function(){var r=[];google.plm(r);})();(function(){var m=[]\n;google.jsc && google.jsc.m(m);})();</script></div></body></html>'

In [7]:
soup = BeautifulSoup(html_data, 'html.parser')

In [8]:
title = soup.find('title')

In [9]:
title

In [10]:
title.string

'Google'

In [12]:
res = requests.get(json_url)

In [13]:
res.text

'{\n  "firstName": "John",\n  "lastName": "Smith",\n  "isAlive": true,\n  "age": 25,\n  "address": {\n    "streetAddress": "21 2nd Street",\n    "city": "New York",\n    "state": "NY",\n    "postalCode": "10021-3100"\n  },\n  "phoneNumbers": [\n    {\n      "type": "home",\n      "number": "212 555-1234"\n    },\n    {\n      "type": "office",\n      "number": "646 555-4567"\n    },\n    {\n      "type": "mobile",\n      "number": "123 456-7890"\n    }\n  ],\n  "children": [],\n  "spouse": null\n}\n'

In [14]:
json_data = res.json()

In [15]:
json_data['firstName']

'John'

In [17]:
json_data['address']['postalCode']

'10021-3100'

In [18]:
df03 = pd.read_csv(csv_url)

In [19]:
df03

    Unnamed: 0 Class     Sex    Age Survived  Freq
0            1   1st    Male  Child       No     0
1            2   2nd    Male  Child       No     0
2            3   3rd    Male  Child       No    35
3            4  Crew    Male  Child       No     0
4            5   1st  Female  Child       No     0
5            6   2nd  Female  Child       No     0
6            7   3rd  Female  Child       No    17
7            8  Crew  Female  Child       No     0
8            9   1st    Male  Adult       No   118
9           10   2nd    Male  Adult       No   154
10          11   3rd    Male  Adult       No   387
11          12  Crew    Male  Adult       No   670
12          13   1st  Female  Adult       No     4
13          14   2nd  Female  Adult       No    13
14          15   3rd  Female  Adult       No    89
15          16  Crew  Female  Adult       No     3
16          17   1st    Male  Child      Yes     5
17          18   2nd    Male  Child      Yes    11
18          19   3rd    Male  Child      Yes    13
19          20  Crew    Male  Child      Yes     0
20          21   1st  Female  Child      Yes     1
21          22   2nd  Female  Child      Yes    13
22          23   3rd  Female  Child      Yes    14
23          24  Crew  Female  Child      Yes     0
24          25   1st    Male  Adult      Yes    57
25          26   2nd    Male  Adult      Yes    14
26          27   3rd    Male  Adult      Yes    75
27          28  Crew    Male  Adult      Yes   192
28          29   1st  Female  Adult      Yes   140
29          30   2nd  Female  Adult      Yes    80
30          31   3rd  Female  Adult      Yes    76
31          32  Crew  Female  Adult      Yes    20

## Reading from Facebook API

In [21]:
# https://developers.facebook.com/docs/graph-api/using-graph-api

In [22]:
# https://developers.facebook.com/tools/explorer/145634995501895/

In [30]:
# graph api token
access_token='access_token=REPLACE FOR FACEBOOK TOKEN'

In [49]:
# url to call facebook api
me_url = 'https://graph.facebook.com/v3.0/me?'
friends_url = 'https://graph.facebook.com/v3.0/me/friends?'
search_url = 'https://graph.facebook.com/v3.0/search?q=Mark&type=user&'

In [35]:
response = requests.get(me_url + access_token)

In [36]:
response.text

'{"name":"Vinicius De Souza Yamauchi","id":"1016525975037823"}'

In [37]:
response = requests.get(friends_url + access_token)

In [38]:
response.text

'{"data":[]}'

In [50]:
response = requests.get(search_url + access_token)

In [51]:
response.text

'{"data":[]}'